# Archivos de configuración de Firebase
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Archivos generados
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
.env

# Configuración específica del entorno
.idea/
.vscode/
